[submodule "tag_highlight/src/contrib/p99"]
	path = tag-highlight/src/contrib/p99
	url = https://github.com/roflcopter4/P99
[submodule "tag_highlight/src/contrib/bstring"]
	path = tag-highlight/src/contrib/bstring
	url = https://github.com/roflcopter4/bstring
[submodule "tag_highlight/src/contrib/talloc"]
	path = tag-highlight/src/contrib/talloc
	url = https://github.com/roflcopter4/talloc
