[submodule "mpack_ct/src/contrib/jsmn"]
	path = mpack_ct/src/contrib/jsmn
	url = https://github.com/zserge/jsmn
[submodule "mpack_ct/win32_libs"]
	path = mpack_ct/win32_libs
	url = https://github.com/roflcopter4/win32_libs
